.App {
  text-align: center;
  background-color: rgba(0,165,187,255);
  padding: 11% 0;
}

.demoPage {
  background-color: #252a2d;
  color: #00a5bb;
  line-height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25%;
  box-sizing: border-box;
  border-radius: 20px;
}

.space-bar {
  width: 90%;
}

h2 {
  color: white;
}

.btn-drop {
  border-radius: 10px;
  padding: 14px;
  margin: 16px;
  color: rgba(0,165,187,255);
  background-color: #252a2d;
  font-size: x-large;
  font-weight: 800;
}

.keyboard-style { 
  display: inline-block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
