.app {
  text-align: center;
  background-color: rgba(0,165,187,255);
  padding: 16% 0;
}

.demo-page {
  background-color: #252a2d;
  color: #00a5bb;
  line-height: 10%;
  justify-content: center;
  align-items: center;
  margin: 0 24%;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 90%);
  padding: 3px 0;
  margin-top: 20pt;
}

.space-bar {
  width: 90%;
}

h2 {
  color: white;
}

/* .keyboard-div {
  box-shadow: 0 3px 10px rgb(0 0 0 / 90%)
} */

.btn-drop {
  border-radius: 10px;
  padding: 18px 14px;
  margin: 10px;
  color: rgba(0,165,187,255);
  background-color: #252a2d;
  font-size: x-large;
  font-weight: 600;
}
